* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  width: 200px;
  height: 100px;
}

h1 {
  color: blueviolet;
}

/* #student-name {
  background-color: aqua;
  height: 100px;
}
#contact-info {
  background-color: orange;
  height: 100px;
}
main {
  background-color: pink;
} */

.h1 {
  text-align: center;
  text-transform: capitalize;
}
#text-prop {
  width: 300px;
  height: 100px;
  background-color: aqua;
}
.box1 {
  background-color: chocolate;
  border: solid black 2px;
  height: 100px;
  width: 100px;
  /* padding-left: 10px;
  padding-top: 20px;
  padding-right: 5px; */
  padding: 20px 5px 0 10px;
  /* margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px; */
  margin: 10px 0 10px 10px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#s1 {
  font-weight: 900;
  background-color: blueviolet;
  line-height: 40px;
}

#s2 {
  font-weight: 100;
}
#s3 {
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
}
